doctype html
html(lang = "eng")
  
h1 Introduction

div(id="Preface")
  h2    Description:
  p
    != 'This contains are collected from the <a href="https://families.google.com/familylink/" >Google</a>.'
  h2    Author:
  p
    a(href="https://families.google.com/familylink/") Rutvi
  p It was useful and also improve your skills
  p Pug is a high performance template engine heavily influenced by Haml and implemented with JavaScript for Node.js and browsers
  
  
H1 1.      Getting started.

div.remark
p Pug Rocks!

H2 1.1.    Pug Basics.
div(id="13")
  h3    Snapshots.
  p
        Every time you commit, or save the state of your project in Git,
        it basically takes a picture of what all your files look like at that moment
        and  stores a reference to that snapshot (if files have not changed,

H2      1.2.   Viewing the npm PUG History.
div(id="23")
  h3
    a(href="https://www.npmjs.com/package/pug").
        Viewing the pug History

h2    5.2. Contributing to a Project
div(id="52")
  h3    Contributing to a Project
  p    The main difficulty with describing how to contribute to a project
  p    is that there are a huge number of variations on how it’s done.
  h3
    a(href="https://www.youtube.com/").
        Youtube

  p    Above gave the youtube link for help to learn and watch some video and etc..
    blockquote.text-whitespaces.
      Questions: you have any query or suggestions?


nav  
    navbar-default div 
        h1 My Website! 
    ul 
        li 
            a HOME 
        li 
            a Page 1
        li 
            a Page 2
    input(type="text", placeholder="Enter Text")
    //- br
    //- br
    //- input(type="button", placeholder="Click Me!")

h1
  //pipe character
  | You are logged in as
  | abc@gmail.com


  //buffered code
  p= 'Two to the power of ten is: ' + 2**10

//unbuffered code
- const clients = ['Riddhi', 'Raxit', 'Rutvi', 'Rihan']
ul
  each client in clients
    li= client